#shortvideo-farkindalik-mesaji {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  padding: 30px 60px;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 9999999; 
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  pointer-events: none;
  display: none; 
  animation: yanip-son 1s infinite;
}


@keyframes yanip-son {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

#shortvideo-bilgi-paneli {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.9); 
    color: #00ff00; 
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 9999999; 
    border: 1px solid #00ff00;
    pointer-events: none;
}